@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
main .poke-pokemon .poke-card .poke-pokemon-data-back .poke-pokemon-data-info .pokemon-info {
  background-color: gray;
  border-radius: 100px;
  padding: 0.25rem 0.5rem;
  color: white; }

main .menu-retractil .types .hierba, main .poke-pokemon .poke-card .poke-pokemon-data-back .poke-pokemon-data-types .poke-pokemon-data-types-div .pokemon-hierba, .poke-equipo .poke-card .poke-equipo-card .poke-equipo-data-types .pokemon-hierba, .poke-equipo .poke-card .poke-equipo-card .poke-equipo-data-debilidad .poke-equipo-data-types-div .pokemon-hierba {
  background-color: #159d45;
  border-radius: 100px;
  padding: 0.25rem 0.5rem;
  color: white;
  margin-right: 5px; }

main .menu-retractil .types .veneno, main .poke-pokemon .poke-card .poke-pokemon-data-back .poke-pokemon-data-types .poke-pokemon-data-types-div .pokemon-veneno, .poke-equipo .poke-card .poke-equipo-card .poke-equipo-data-types .pokemon-veneno, .poke-equipo .poke-card .poke-equipo-card .poke-equipo-data-debilidad .poke-equipo-data-types-div .pokemon-veneno {
  background-color: #831fd5;
  border-radius: 100px;
  padding: 0.25rem 0.5rem;
  color: white;
  margin-right: 5px; }

main .menu-retractil .types .fuego, main .poke-pokemon .poke-card .poke-pokemon-data-back .poke-pokemon-data-types .poke-pokemon-data-types-div .pokemon-fuego, .poke-equipo .poke-card .poke-equipo-card .poke-equipo-data-debilidad .poke-equipo-data-types-div .pokemon-fuego {
  background-color: #ff0000;
  border-radius: 100px;
  padding: 0.25rem 0.5rem;
  color: white;
  margin-right: 5px; }

main .menu-retractil .types .volador, main .poke-pokemon .poke-card .poke-pokemon-data-back .poke-pokemon-data-types .poke-pokemon-data-types-div .pokemon-volador, .poke-equipo .poke-card .poke-equipo-card .poke-equipo-data-debilidad .poke-equipo-data-types-div .pokemon-volador {
  background-color: #84c5f3;
  border-radius: 100px;
  padding: 0.25rem 0.5rem;
  margin-right: 5px; }

main .menu-retractil .types .agua, main .poke-pokemon .poke-card .poke-pokemon-data-back .poke-pokemon-data-types .poke-pokemon-data-types-div .pokemon-agua, .poke-equipo .poke-card .poke-equipo-card .poke-equipo-data-debilidad .poke-equipo-data-types-div .pokemon-agua {
  background-color: #488eea;
  border-radius: 100px;
  padding: 0.25rem 0.5rem;
  color: white;
  margin-right: 5px; }

main .menu-retractil .types .electrico, main .poke-pokemon .poke-card .poke-pokemon-data-back .poke-pokemon-data-types .poke-pokemon-data-types-div .pokemon-electrico, .poke-equipo .poke-card .poke-equipo-card .poke-equipo-data-debilidad .poke-equipo-data-types-div .pokemon-electrico {
  background-color: #ffff00;
  border-radius: 100px;
  padding: 0.25rem 0.5rem;
  margin-right: 5px; }

main .menu-retractil .types .bicho {
  background-color: #ADBD2E;
  border-radius: 100px;
  padding: 0.25rem 0.5rem;
  margin-right: 5px; }

main .menu-retractil .types .normal {
  background-color: #B9B7AA;
  border-radius: 100px;
  padding: 0.25rem 0.5rem;
  margin-right: 5px; }

main .menu-retractil .types .tierra, main .poke-pokemon .poke-card .poke-pokemon-data-back .poke-pokemon-data-types .poke-pokemon-data-types-div .pokemon-tierra, .poke-equipo .poke-card .poke-equipo-card .poke-equipo-data-debilidad .poke-equipo-data-types-div .pokemon-tierra {
  background-color: #794A30;
  border-radius: 100px;
  padding: 0.25rem 0.5rem;
  color: white;
  margin-right: 5px; }

main .menu-retractil .types .hada {
  background-color: #F3A8EC;
  border-radius: 100px;
  padding: 0.25rem 0.5rem;
  margin-right: 5px; }

main .menu-retractil .types .lucha {
  background-color: #db5433;
  border-radius: 100px;
  padding: 0.25rem 0.5rem;
  color: white;
  margin-right: 5px; }

main .menu-retractil .types .psiquico, main .poke-pokemon .poke-card .poke-pokemon-data-back .poke-pokemon-data-types .poke-pokemon-data-types-div .pokemon-psiquico, .poke-equipo .poke-card .poke-equipo-card .poke-equipo-data-debilidad .poke-equipo-data-types-div .pokemon-psiquico {
  background-color: #ee306c;
  border-radius: 100px;
  padding: 0.25rem 0.5rem;
  color: white;
  margin-right: 5px; }

main .menu-retractil .types .roca, main .poke-pokemon .poke-card .poke-pokemon-data-back .poke-pokemon-data-types .poke-pokemon-data-types-div .pokemon-roca, .poke-equipo .poke-card .poke-equipo-card .poke-equipo-data-debilidad .poke-equipo-data-types-div .pokemon-roca {
  background-color: #B59C52;
  border-radius: 100px;
  padding: 0.25rem 0.5rem;
  color: white;
  margin-right: 5px; }

main .menu-retractil .types .acero {
  background-color: #C2C1C3;
  border-radius: 100px;
  padding: 0.25rem 0.5rem;
  margin-right: 5px; }

main .menu-retractil .types .hielo, main .poke-pokemon .poke-card .poke-pokemon-data-back .poke-pokemon-data-types .poke-pokemon-data-types-div .pokemon-hielo, .poke-equipo .poke-card .poke-equipo-card .poke-equipo-data-debilidad .poke-equipo-data-types-div .pokemon-hielo {
  background-color: #7ADEFF;
  border-radius: 100px;
  padding: 0.25rem 0.5rem;
  margin-right: 5px; }

main .menu-retractil .types .fantasma {
  background-color: #825cc1;
  border-radius: 100px;
  padding: 0.25rem 0.5rem;
  color: white;
  margin-right: 5px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px; }

header {
  height: 5vh; }
  header nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    list-style: none;
    padding-top: 15px; }
    header nav ul li a {
      text-decoration: none; }

main .menu-retractil {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  padding: 2.5rem;
  height: max-content;
  box-shadow: 0px 16.7px 15.3px -43px rgba(0, 0, 0, 0.146), 0px 30.5px 42.2px -43px rgba(0, 0, 0, 0.21), 0px 40.4px 101.6px -70px rgba(0, 0, 0, 0.274); }
  main .menu-retractil .buscador-pokemon {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-35%); }
    main .menu-retractil .buscador-pokemon .buscador-pokemon-index {
      width: 80%;
      padding: 10px;
      border-radius: 10px; }
  main .menu-retractil .types {
    display: flex;
    justify-content: center;
    align-items: none;
    flex-direction: row;
    flex-wrap: wrap; }
    main .menu-retractil .types button {
      border-radius: 100px;
      border: none;
      margin: 1rem;
      cursor: pointer;
      text-transform: uppercase;
      font-weight: 600;
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
      transition: 0.3s; }
      main .menu-retractil .types button:hover {
        transform: scale(1.1);
        box-shadow: 0 0 2rem rgba(0, 0, 0, 0.25); }

main .poke-pokemon {
  padding: 20px 0 0 40px;
  display: flex;
  justify-content: center;
  align-items: none;
  flex-direction: row;
  flex-wrap: wrap; }
  main .poke-pokemon .poke-card {
    margin: 50px; }
    main .poke-pokemon .poke-card .fondo-hierba {
      background-image: url(../img/fondo-hojas.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: none;
      background-color: #0a8f3973;
      backdrop-filter: blur(7.1px);
      -webkit-backdrop-filter: blur(7.1px); }
    main .poke-pokemon .poke-card .fondo-fuego {
      background-image: url(../img/fondo-fuego.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: none;
      background-color: #bb252573; }
    main .poke-pokemon .poke-card .fondo-agua {
      background-image: url(../img/fondo-agua.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: none;
      background-color: #2974c973; }
    main .poke-pokemon .poke-card .poke-pokemon-card {
      text-align: center;
      width: 20vw;
      box-shadow: 30px 24px 95px -16px rgba(0, 0, 0, 0.59);
      -webkit-box-shadow: 30px 24px 95px -16px rgba(0, 0, 0, 0.59);
      -moz-box-shadow: 30px 24px 95px -16px rgba(0, 0, 0, 0.59);
      position: relative;
      transition: 250ms; }
      main .poke-pokemon .poke-card .poke-pokemon-card:active .poke-pokemon-data-back {
        display: grid; }
      main .poke-pokemon .poke-card .poke-pokemon-card:active .poke-pokemon-img img {
        display: none; }
      main .poke-pokemon .poke-card .poke-pokemon-card:active {
        background-image: none; }
      main .poke-pokemon .poke-card .poke-pokemon-card .poke-pokemon-img {
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px); }
        main .poke-pokemon .poke-card .poke-pokemon-card .poke-pokemon-img img {
          width: 70%; }
      main .poke-pokemon .poke-card .poke-pokemon-card .poke-pokemon-data {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        position: relative; }
        main .poke-pokemon .poke-card .poke-pokemon-card .poke-pokemon-data .poke-pokemon-data-nombre-hierba-veneno {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          flex-direction: row;
          background: linear-gradient(347deg, #831fd5 36%, #159d45 59%);
          padding: 0.5rem;
          width: 100%; }
        main .poke-pokemon .poke-card .poke-pokemon-card .poke-pokemon-data .poke-pokemon-data-nombre-fuego {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          flex-direction: row;
          background-color: #ff0000;
          padding: 0.5rem;
          width: 100%; }
        main .poke-pokemon .poke-card .poke-pokemon-card .poke-pokemon-data .poke-pokemon-data-nombre-fuego-volador {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          flex-direction: row;
          background: linear-gradient(0deg, #84c5f3 36%, red 59%);
          padding: 0.5rem;
          width: 100%; }
        main .poke-pokemon .poke-card .poke-pokemon-card .poke-pokemon-data .poke-pokemon-data-nombre-agua {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          flex-direction: row;
          background-color: #488eea;
          padding: 0.5rem;
          width: 100%; }
        main .poke-pokemon .poke-card .poke-pokemon-card .poke-pokemon-data .poke-pokemon-data-ball img {
          position: absolute;
          top: 0.2rem;
          right: 0.5rem;
          width: 10%; }
        main .poke-pokemon .poke-card .poke-pokemon-card .poke-pokemon-data .poke-pokemon-data-ball .pokeball-semi {
          display: none; }
        main .poke-pokemon .poke-card .poke-pokemon-card .poke-pokemon-data .poke-pokemon-data-ball:hover .pokeball-cerrada {
          display: none; }
        main .poke-pokemon .poke-card .poke-pokemon-card .poke-pokemon-data .poke-pokemon-data-ball:hover .pokeball-semi {
          display: block; }
    main .poke-pokemon .poke-card .poke-pokemon-data-back {
      display: none; }
      main .poke-pokemon .poke-card .poke-pokemon-data-back .poke-pokemon-data-types {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        width: 100%;
        margin: 1rem 0 1rem 0; }
        main .poke-pokemon .poke-card .poke-pokemon-data-back .poke-pokemon-data-types .tipo {
          color: white; }
        main .poke-pokemon .poke-card .poke-pokemon-data-back .poke-pokemon-data-types .poke-pokemon-data-types-div {
          background-color: rgba(255, 255, 255, 0.473);
          width: auto;
          border-radius: 20px;
          padding: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          flex-wrap: wrap; }
      main .poke-pokemon .poke-card .poke-pokemon-data-back .poke-pokemon-data-info {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        width: 100%;
        margin-bottom: 1rem; }

.body-pokedex {
  background-image: url(/img/fondo-pokemon.png);
  background-size: 85%; }
  .body-pokedex main .pokedex {
    margin-top: 5%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }
    .body-pokedex main .pokedex .pokedex-img {
      width: 45%;
      position: relative; }
    .body-pokedex main .pokedex .poke-bg {
      position: absolute;
      top: 30%;
      left: 31%;
      height: 30%;
      width: 30%;
      z-index: -2; }
    .body-pokedex main .pokedex .pokemon-pkx {
      position: absolute;
      left: 38%;
      top: 45%;
      transform: translate(-20%, -50%);
      height: 20%; }
    .body-pokedex main .pokedex .poke-pokedex {
      position: absolute;
      color: white;
      width: 14%;
      right: 31%;
      top: 33%; }
      .body-pokedex main .pokedex .poke-pokedex .poke-pokedex-pokemon {
        padding: 2px; }
        .body-pokedex main .pokedex .poke-pokedex .poke-pokedex-pokemon .poke-pokedex-pokemon-nombre {
          text-transform: capitalize; }
      .body-pokedex main .pokedex .poke-pokedex .poke-pokedex-pokemon-descripcion {
        font-size: 77%;
        margin: 2px; }
  .body-pokedex main .formulario {
    position: absolute;
    bottom: 7%;
    left: 33%; }
    .body-pokedex main .formulario .buscador-pokedex {
      background-color: #5EC480;
      width: 8vw;
      height: 7vh;
      border-radius: 12px; }
  .body-pokedex main .prev-next {
    position: absolute;
    bottom: 8.2%;
    right: 29.4%;
    width: 17%;
    display: flex;
    gap: 1rem; }
    .body-pokedex main .prev-next button {
      width: 55%;
      height: 100%;
      border: 2px solid black;
      border-radius: 5px;
      padding: 4%;
      cursor: pointer;
      text-transform: uppercase;
      font-weight: 600;
      background-color: #053f31;
      color: white;
      box-shadow: -2px 3px 0 #222, -4px 6px 0 #000; }
      .body-pokedex main .prev-next button:active {
        box-shadow: inset -4px 4px 0 #222;
        font-size: 0.9rem; }

.poke-entrenador {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  height: 70vh;
  width: 50vw;
  background-color: #fdd7008e;
  margin: 2rem 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 15px;
  border: 5px solid #c4a6018e; }
  .poke-entrenador .poke-entrenador-img {
    display: flex;
    justify-content: none;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    padding: .5rem;
    border: 3px solid #c4a6018e;
    border-radius: 20px;
    height: 90%;
    width: 50%; }
    .poke-entrenador .poke-entrenador-img h2 {
      text-align: center;
      width: 100%;
      border-radius: 20px;
      border: 3px solid #c4a6018e;
      background-color: #ffee00;
      padding: .5rem; }
    .poke-entrenador .poke-entrenador-img img {
      padding: .5rem;
      height: 90%; }
  .poke-entrenador .poke-entrenador-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    padding: .5rem;
    border: 3px solid #c4a6018e;
    border-radius: 20px;
    height: 90%;
    width: 40%; }
    .poke-entrenador .poke-entrenador-info h2 {
      text-align: center;
      width: 100%;
      border-radius: 20px;
      border: 3px solid #c4a6018e;
      background-color: #ffee00;
      padding: .5rem; }
    .poke-entrenador .poke-entrenador-info p {
      text-align: left; }
    .poke-entrenador .poke-entrenador-info input {
      text-align: center;
      border-width: 0 0 1px 0; }
    .poke-entrenador .poke-entrenador-info div {
      display: flex;
      gap: 1rem; }
      .poke-entrenador .poke-entrenador-info div button {
        width: 55%;
        height: 100%;
        border: 2px solid black;
        border-radius: 5px;
        padding: 4%;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 600;
        background-color: #f5ed14;
        color: black;
        box-shadow: -2px 3px 0 #222, -4px 6px 0 #000; }
        .poke-entrenador .poke-entrenador-info div button:active {
          box-shadow: inset -4px 4px 0 #222;
          font-size: 0.9rem; }

.poke-equipo {
  padding: 20px 0 0 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .poke-equipo .poke-card {
    flex-basis: calc(50% - 20px);
    margin: .5rem; }
    .poke-equipo .poke-card .poke-equipo-card {
      display: grid;
      grid-template-columns: 0.9fr 1.1fr;
      grid-template-rows: auto auto auto auto;
      grid-template-areas: "poke-equipo-data-nombre poke-equipo-data-nombre" "poke-equipo-img poke-equipo-data-types" "poke-equipo-img poke-equipo-data-debilidad" "poke-equipo-img poke-equipo-moves";
      border: 4px solid rgba(108, 109, 108, 0.486);
      width: 80%;
      box-shadow: 30px 24px 95px -16px rgba(0, 0, 0, 0.59);
      -webkit-box-shadow: 30px 24px 95px -16px rgba(0, 0, 0, 0.59);
      -moz-box-shadow: 30px 24px 95px -16px rgba(0, 0, 0, 0.59); }
      .poke-equipo .poke-card .poke-equipo-card .poke-equipo-data-nombre {
        grid-area: poke-equipo-data-nombre;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        background-color: #e2518e;
        padding: 0.5rem;
        width: 100%; }
      .poke-equipo .poke-card .poke-equipo-card .poke-equipo-img {
        grid-area: poke-equipo-img;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row; }
        .poke-equipo .poke-card .poke-equipo-card .poke-equipo-img img {
          width: 100%; }
      .poke-equipo .poke-card .poke-equipo-card .poke-equipo-data-types {
        grid-area: poke-equipo-data-types;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        width: 100%;
        margin: 1rem 0 1rem 0; }
      .poke-equipo .poke-card .poke-equipo-card .poke-equipo-data-debilidad {
        grid-area: poke-equipo-data-debilidad;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row; }
        .poke-equipo .poke-card .poke-equipo-card .poke-equipo-data-debilidad .poke-equipo-data-types-div {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          flex-wrap: wrap; }
      .poke-equipo .poke-card .poke-equipo-card .poke-equipo-moves {
        grid-area: poke-equipo-moves; }
        .poke-equipo .poke-card .poke-equipo-card .poke-equipo-moves ul {
          list-style: none;
          text-align: left;
          padding-left: 30%; }
