main {
    .menu-retractil {
        position: relative;
        @include flex (flex, center, flex-end, column);
        padding: 2.5rem;
        height: max-content;
        box-shadow:
            0px 16.7px 15.3px -43px rgba(0, 0, 0, 0.146),
            0px 30.5px 42.2px -43px rgba(0, 0, 0, 0.21),
            0px 40.4px 101.6px -70px rgba(0, 0, 0, 0.274);

        .buscador-pokemon {
            position: absolute;
            bottom: 2%;
            left: 50%;
            transform: translateX(-35%);

            .buscador-pokemon-index {
                width: 80%;
                padding: 10px;
                border-radius: 10px;
            }
        }

        .types {
            @include flex (flex, center, none, row);
            flex-wrap: wrap;

            .grass {
                @extend %hierba;
            }

            .fire {
                @extend %fuego;
            }

            .water {
                @extend %agua;
            }

            .bug {
                @extend %bicho;
            }

            .poison {
                @extend %veneno;
            }

            .flying {
                @extend %volador;
            }

            .normal {
                @extend %normal;
            }

            .electric {
                @extend %electrico;
            }

            .ground {
                @extend %tierra;
            }

            .fairy {
                @extend %hada;
            }

            .fighting {
                @extend %lucha;
            }

            .psychic {
                @extend %psiquico;
            }

            .rock {
                @extend %roca;
            }

            .steel {
                @extend %acero;
            }

            .ice {
                @extend %hielo;
            }

            .ghost {
                @extend %fantasma;
            }

            button {
                border-radius: 100px;
                border: none;
                margin: 1rem;
                cursor: pointer;
                text-transform: uppercase;
                font-weight: 600;
                box-shadow: 0 0 1rem rgba(0, 0, 0, .25);
                transition: 0.3s;

                &:hover {
                    transform: scale(1.1);
                    box-shadow: 0 0 2rem rgba(0, 0, 0, .25);
                }
            }
        }
    }

    .poke-pokemon {
        padding: 20px 0 0 40px;
        @include flex (flex, center, none, row);
        flex-wrap: wrap;

        .poke-card {
            margin: 50px;

            .fondo-grass {
                background-image: url(../img/fondo-hojas.jpg);
                @include bg (center, cover, none);
                background-color: #0a8f3973;
                backdrop-filter: blur(7.1px);
                -webkit-backdrop-filter: blur(7.1px);
            }

            .fondo-fire {
                background-image: url(../img/fondo-fuego.jpg);
                @include bg (center, cover, none);
                background-color: #bb252573;
            }

            .fondo-water {
                background-image: url(../img/fondo-agua.jpg);
                @include bg (center, cover, none);
                background-color: #2974c973;
            }

            .poke-pokemon-card {
                text-align: center;
                width: 20vw;
                box-shadow: 30px 24px 95px -16px rgba(0, 0, 0, 0.59);
                -webkit-box-shadow: 30px 24px 95px -16px rgba(0, 0, 0, 0.59);
                -moz-box-shadow: 30px 24px 95px -16px rgba(0, 0, 0, 0.59);
                position: relative;
                transition: 250ms;

                &:active .poke-pokemon-data-back {
                    display: grid;
                }

                &:active .poke-pokemon-img {
                    img {
                        display: none;
                    }
                }

                &:active {
                    background-image: none;
                }

                .poke-pokemon-img {
                    backdrop-filter: blur(2px);
                    -webkit-backdrop-filter: blur(2px);

                    img {
                        width: 70%;

                    }
                }

                .poke-pokemon-data {
                    @include flex (flex, space-around, center, column);
                    position: relative;

                    .poke-pokemon-data-nombre-grass-poison {
                        @include flex (flex, space-evenly, center, row);
                        background: linear-gradient(347deg, rgba(131, 31, 213, 1) 36%, #159d45 59%);
                        padding: 0.5rem;
                        width: 100%;
                    }

                    .poke-pokemon-data-nombre-fire {
                        @include flex (flex, space-evenly, center, row);
                        background-color: #ff0000;
                        padding: 0.5rem;
                        width: 100%;
                    }

                    .poke-pokemon-data-nombre-fire-flying {
                        @include flex (flex, space-evenly, center, row);
                        background: linear-gradient(0deg, rgba(132, 197, 243, 1) 36%, rgba(255, 0, 0, 1) 59%);
                        padding: 0.5rem;
                        width: 100%;
                    }

                    .poke-pokemon-data-nombre-water {
                        @include flex (flex, space-evenly, center, row);
                        background-color: #488eea;
                        padding: 0.5rem;
                        width: 100%;
                    }

                    .poke-pokemon-data-ball {
                        img {
                            position: absolute;
                            top: 0.2rem;
                            right: 0.5rem;
                            width: 10%
                        }

                        .pokeball-semi {
                            display: none;
                        }

                        &:hover {
                            .pokeball-cerrada {
                                display: none;
                            }

                            .pokeball-semi {
                                display: block;
                            }
                        }
                    }
                }
            }

            .poke-pokemon-data-back {
                display: none;

                .poke-pokemon-data-types {
                    @include flex (flex, space-evenly, center, row);
                    width: 100%;
                    margin: 1rem 0 1rem 0;

                    .tipo {
                        color: white;
                    }

                    .poke-pokemon-data-types-div {
                        background-color: rgba(255, 255, 255, 0.473);
                        width: auto;
                        border-radius: 20px;
                        padding: 5px;
                        @include flex (flex, center, center, row);
                        flex-wrap: wrap;

                        .pokemon-grass {
                            @extend %hierba;
                        }

                        .pokemon-poison {
                            @extend %veneno;
                        }

                        .pokemon-fire {
                            @extend %fuego;
                        }

                        .pokemon-flying {
                            @extend %volador;
                        }

                        .pokemon-psychic {
                            @extend %psiquico;
                        }

                        .pokemon-ice {
                            @extend %hielo;
                        }

                        .pokemon-water {
                            @extend %agua;
                        }

                        .pokemon-ground {
                            @extend %tierra;
                        }

                        .pokemon-rock {
                            @extend %roca;
                        }

                        .pokemon-electric {
                            @extend %electrico;
                        }
                    }

                }

                .poke-pokemon-data-info {
                    @include flex (flex, space-evenly, center, row);
                    width: 100%;
                    margin-bottom: 1rem;

                    .pokemon-info {
                        @extend %info
                    }
                }
            }
        }
    }
}